<div class="row">
  <div class="col-lg-12">
    <div class="card">
     
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <h3 class="card-title">Información</h3>
            <hr />
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Nombres</label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    [(ngModel)]="user.nombre"
                    [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Apellido</label>
                  <input
                    type="text"
                    id="secondName"
                    class="form-control"
                    [(ngModel)]="user.apellido"
                    [ngModelOptions]="{standalone: true}"
                  />
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Número Celular</label>
                    <input
                      type="text"
                      id="telefono"
                      class="form-control"
                      [(ngModel)]="user.telefono"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Username</label>
                      <input
                        type="text"
                        id="username"
                        disabled="disabled"
                        class="form-control form-control-danger_"
                        placeholder="{{user.username}}"
                      />
                    </div>
                  </div>
                  <!--/span-->
                <div class="col-md-6">
                  <div class="form-group has-danger_">
                    <label class="control-label">Pin</label>
                    <input
                      type="text"
                      id="pin"
                      disabled="disabled"
                      class="form-control form-control-danger_"
                      [(ngModel)]="user.pin"
                      [ngModelOptions]="{standalone: true}"
                    />

                  </div>
                </div>
                <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Id Telegram</label>
                  <input
                    type="text"
                    id="uid_chat"
                    class="form-control form-control-danger_"
                    disabled="disabled"
                    placeholder="{{user.uid_chat}}"
                  />

                </div>
              </div>
              <!--/span-->
            
              <!--/span-->
            </div>
          </div>
          <div class="form-actions">
            <button type="button" class="btn btn-success" (click)="sendData()">
              <i class="fa fa-check"></i> Guardar
            </button>
            <button type="button" class="btn btn-success" (click)="generatePin()">
              <i class="fa fa-refresh"></i> Generar Pin
            </button>
            <button type="button" class="btn btn-inverse">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
